.modalBox {
    width: 650px;
    height: 800px;
    padding: 50px 50px 30px 50px;
    @apply
    flex
    flex-col
    justify-between
    rounded-none
    border-blue-dark
    border-2
    bg-blue
    relative
}

.modalAction {
    @apply
    flex
    justify-between
    modal-action
}

.titleModal {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 40px;
    @apply
    text-blue-dark
}

.cardTitle {
    outline: none;
    font-size: 30px !important;
    margin-bottom: 15px;
    background-color: transparent;
    @apply
    card-title
    text-blue-dark
}

.textTextArea {
    outline: none;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    overflow: auto;
    resize: none;
    height: 100%;
    @apply
    mt-2.5
    rounded
    min-w-full
    bg-transparent
    text-blue-dark
}
