.myNotes {
    padding: 20px;
    @apply
    flex
    justify-between
}

.title {
    margin: 10px;
    font-size: xx-large;
    @apply
    w-72
}

.icons {
    margin: 10px;
    @apply
    flex
    w-72
    justify-evenly

}

.user {
    margin: 10px;
}
