.card {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 20px;
    min-width: 250px;
    max-width: 365px;
    width: 100%;
    min-height: 250px;
    max-height: 500px;
    transition: 0.15s ease-in-out;
    @apply shadow-lg

}

.card:hover {
    cursor: pointer;
    outline: 1px solid;
}

.title_date_space {
    display: flex;
    justify-content: space-between;
}

.cardTitle {
    margin-bottom: 15px;
    @apply
    card-title
}

.text {
    flex-grow: 1;
    word-break: break-word;
}

.cardAction {
    display: flex;
    align-items: center;
    margin-top: 15px;
    @apply
    card-actions
    justify-between
    relative

}

.hoverStyle {
    width: 2em;
    height: 2em;
    transition: transform 0.25s;
}

.hoverStyle:hover {
    transform: scale(1.3);
}

@media (max-width: 961px) {
    .card {
        max-width: 500px;
        min-height: 300px;
    }

}

@media (max-width: 961px) {
    .card {
        max-width: 500px;
        min-height: 300px;
    }

}

@media (max-width: 635px) {
    .card {
        min-height: 100px;
    }
    .cardAction{
        display: none;
    }
    .text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
