.notesWrapper {
    padding-left: 100px;
    height: 100vh;
    overflow: hidden;
}

.notesBlock {
    gap: 25px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 108px);
}

@media screen and (max-width: 991px) {
    .notesBlock {
        justify-content: center;
    }
}
