.notesWrapper{
    @apply
    pl-[100px]
    h-[100%]
    min-h-[100vh]
    pt-[70px]
}

.notesBlock {
    gap: 25px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 40px 30px 30px 80px;

}

.fixNoteBlock{
    gap: 25px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 40px 30px 40px 80px;
    position: relative;

}
.fixNoteBlock::before{
    content: '';
    position: absolute;
    bottom:10px;
    left: 80px;
    width: 85%;
    height:1px;
    background-color:#7D7D7D ;
    opacity: 0.5;
}
@media screen and (max-width: 748px){
    .notesBlock,.fixNoteBlock {
        padding: 40px 30px 30px 55px;
    }
    .fixNoteBlock::before{
        width: 75% ;
        left: 70px;
    }
}
@media screen and (max-width: 643px){
    .notesBlock {
        padding: 40px 30px 30px 30px;
    }


}

@media (max-width: 607px) {
    .notesBlock,.fixNoteBlock {
        padding: 15px 30px 30px 30px;
    }
}
@media screen and (max-width: 540px) {
    .notesWrapper {
        padding-left: 0;
        padding-top: 70px;
    }
}

@media screen and (max-width: 473px){
    .fixNoteBlock::before{
        width: 80% ;
        left: 50px;
    }
    .notesBlock{
        padding: 20px 20px 109px 20px;
    }
}

@media screen and (max-width: 405px) {
    .notesBlock{
        padding: 20px 20px 84px 20px;
    }
    .fixNoteBlock::before{
        width: 80% ;
        left: 10%;
    }

}
