.card {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 25px;
    min-width: 250px;
    max-width: 380px;
    width: 100%;
    min-height: 250px;
    transition: 0.15s ease-in-out;
    @apply shadow-lg
}

.card:hover {
    scale: 1.010;
    cursor: pointer;
    outline: 1px solid;
}

.cardTitle {
    margin-bottom: 15px;
    @apply
    card-title
}

.text {
    flex-grow: 1;
    word-break: break-word;
}

.cardAction {
    margin-top: 15px;
    outline: none;
    border: none;
    position: relative;
    @apply
    card-actions
    justify-between
}