.notesWrapper {
    padding-left: 100px;
    height: 100vh;
}

.notesBlock {
    gap: 25px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 115px 0 30px 30px;
    height: 100vh;
}

@media screen and (max-width: 540px) {
    .notesBlock {
        justify-content: center;
        padding: 115px 20px 0 20px;
    }
    .notesWrapper {
        padding-left: 0;
    }
}
