.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.iconMain {
    position: relative;

}

.form {
    position: absolute;
    top:23%;
    left: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorNumber {
    font-size: 241px;
    font-weight: bold;
    color: #5590C1;
}

.errorText {
    font-size: 80px;
    color: #5590C1;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -50px;
}

.btnWrapper {
    position: absolute;
    top: 91%;
    left: 39%;
}

@media (max-width: 1290px) {
    .content {
        align-items:flex-start;

    }
    .form {
        left: 23%;
    }

}
@media (max-width: 1080px) {
    .content{
        height: auto;
    }
    .iconMain {
        width: 900px;
        height:auto;

    }
    .errorNumber {
        font-size: 207px;
    }
    .errorText {
        font-size: 71px;
        margin-top: -50px;
    }
    .form {
        top:28%;
        left: 31%;
        width:700px;
    }
    .btnWrapper {
        left: 57%;
    }
}
@media (max-width: 850px) {

    .btnWrapper {
       left: 73%;
       width: 450px;
    }
    .iconMain {
        width: 700px;
        height:auto;
    }
    .form {
        left: 40%;
    }
}

