.wrapperMainSettings {
    @apply
    flex
    justify-between
}

.leftArea {
    padding-right: 20px;
    position: relative;
    @apply
    flex
    flex-col
}

.myProfile {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:'i e e' ;
    gap: 17px;
    margin-bottom: 75px;
    padding-right: 50px;


}
.img {
    border: 1px solid #5590C1;
    object-fit: cover;
    grid-area: i;
}

.editData{
grid-area: e;

}

ul.editData li {
    margin-bottom: 3px;

}
.username,.country{
    margin-right: 20px;
}
.editWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.download {
    position: absolute;
    top: 164px;
    left: 220px;
    cursor: pointer;
}

.myName {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reg {
    font-weight: 400;
    margin-top: 10px;
    font-size: 17px;
    line-height: 20px;
    color: #7D7D7D;

}




.edit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.editMyProfile {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.editMyProfile label {

    display: flex;
    justify-content: space-between;
}

ul.editMyProfile li {
    height: 60px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #212121;
    margin-bottom: 17px;
    @apply
    flex
    justify-between
    items-center

}


.otherSettings {
    padding-right: 100px;
}

.other {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 27px;
}

.otherWrapper {
    width: 623px;
}

.collapseContent {
    margin-top: 25px;
    padding: 0 15px 0 0;
    margin-bottom: -10px;

}


ul.collapseContent li {
    @apply
    flex
    pb-5
    justify-between
    items-center

}

ul.collapseContent li p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #5590C1;

}

.inputI {
    width: 400px;
    height: 60px !important;
    @apply
    input
    input-bordered
    placeholder-current
    placeholder-black
    input-info
    rounded-none
    text-blue-dark
    text-lg
    font-thin
}

@media screen and (max-width: 1574px) {
    .editMyProfile{
        max-width: 600px;
        justify-content: space-between;
    }
    .wrapperMainSettings {
        @apply
        block

    }
    .leftArea {
        align-items: flex-start;
    }
}
@media screen and (max-width: 1100px) {
    .myProfile{
       margin-bottom: 20px;
    }
    .other {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 870px) {
    .myProfile{
        padding-right: 0;
    }
    .myName{
        font-size: 20px;


    }

}
@media screen and (max-width: 790px) {
    .myProfile {
        grid-template-columns: 170px;
        grid-template-rows:  1fr;
        grid-template-areas:'i .'
                            'e e' ;

    }
    .download {
        top: 135px;
        left: 185px;
    }

    .otherWrapper{
        max-width: 500px;
    }

}
@media screen and (max-width: 736px) {
    .editMyProfile{
        max-width: 500px;
    }
}

@media screen and (max-width: 666px) {
    .myProfile {
       margin-bottom: 30px;
    }
    .other {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .otherWrapper {
        max-width: 380px;
    }
}
@media screen and (max-width: 605px) {
    .editMyProfile{
        max-width: 400px;
    }
    .username,.country{
       font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
    .wrapperSettings {
        padding: 0;
        align-items: center;
        align-content: flex-start;
        width: max-content;
        margin: 20px auto 20px;
    }

    .wrapperMaimSettings {
        flex-direction: column;
    }

    .myProfile {
        margin-bottom: 0;
        padding-right: 0;
        flex-direction: column;
    }

    .leftArea {
        width: 100%;
    }

    .imgProfileWrapper_img {
        margin: 0 auto;
    }
    .last_child {
        margin-bottom: 80px;
    }

    .editData {
        margin: 0;
    }
    .otherSettings{
        padding-right:0;
    }

    .collapseContent li {
        flex-direction: column;

    }

    .inputI {
        width: 100%;
        margin-top: 10px;
    }

    .editMyProfile label li {
        display: flex;
        flex-direction: column;
    }

    .editMyProfile input {
        width: 100%;
        margin-top: 10px;
    }

    .edit {
        text-align: -webkit-center;
    }
    .img{
        display: block;
        width: 170px !important;
        height: 170px !important;
    }

}
@media screen and (max-width: 460px) {
    .otherWrapper {
        max-width: 300px;
    }
    .myName{
        font-size: 16px;
    }
    .reg{
        font-size: 14px;
        margin-top: 0;
    }
}
@media screen and (max-width: 370px) {
    .username,.country{
        margin-right: 5px;
    }
}





