.wrapperSettings {
    padding: 130px 0 100px 140px;
    height: 100vh;
    gap: 25px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
}

.wrapperMaimSettings {
    @apply
    flex
    justify-between
}

.leftArea {
    width: 30%;
    @apply
    flex
    flex-col
}

.myProfile {
    gap: 17px;
    margin-bottom: 75px;
    padding-right: 50px;
    @apply
    flex
    justify-between

}

.editWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgProfileWrapper {
    border: 1px solid #5590C1;
}

.myName {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.reg {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7D7D7D;

}

ul.editData li {
    margin-bottom: 3px;

}

.edit {
    text-align: right;
}

ul.editMyProfile li {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #212121;
    margin-bottom: 17px;
    @apply
    flex
    justify-between
    items-center

}

ul.editMyProfile input {
    width: 412px;
    height: 60px;
    @apply
    input
    input-bordered
    placeholder-current
    placeholder-black
    w-full
    text-lg
    font-thin
    max-w-xs
    rounded-none
}


.otherSettings {
    /*padding-right: 250px;*/
}

.other {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 27px;
}

.otherWrapper {
    width: 623px;
}

.collapseContent {
    margin-top: 25px;
    padding: 0 15px 0 0;
    margin-bottom: -10px;

}


ul.collapseContent li {
    @apply
    flex
    pb-5
    justify-between
    items-center

}

ul.collapseContent li p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #5590C1;

}

.inputI {
    width: 400px;
    height: 60px !important;
    @apply
    input
    input-bordered
    placeholder-current
    placeholder-black
    input-info
    rounded-none
    text-blue-dark
    text-lg
    font-thin
}

.img{
    width: 200px;
    height: 200px;
    background:red;
}


