.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}
.wrapper:hover {
    background-color: white;
}