.footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /*max-width: 200px;*/
    height: 10vh;
}
.footer a {
    cursor: pointer;
}
.text {
    font-size: 20px;
    line-height: 24px;
    color: #C8C8C8;
}
@media screen and (max-width: 540px){
    .footer {
        justify-content: center;
    }
}
@media screen and (min-width: 541px){
    .footer {
        justify-content: center;
    }
}
@media screen and (min-width: 913px){
    .footer {
        justify-content: flex-start;
    }
}

