.header {
    @apply
    flex
    justify-between

}

.title {
    padding: 39px 0;
    line-height: 42px;
    font-size: 35px;
    font-weight: bold;
}
.wrapperBtn{
    @apply
    flex
    justify-between
    items-center
}
.about {
    font-size: 25px;
    line-height: 30px;
    color: #5590C1;
    padding-right: 40px;
}
.button {
    background-color: #E5F1FD;
    border: 1px solid #5590C1;
    color: #5590C1;

}

