.mainBlockContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
}

.blockTitle {
    position: relative;
    z-index: 100;
    padding-top: 112px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin-bottom: 40px;
}

.title p {
    font-size: 90px;
    white-space: pre-line;
    font-weight: bold;
    line-height: 110px;
}

.button {
    width: 158px;
    height: 62px;
    background-color: #E5F1FD;
    border: 1px solid #5590C1;
    color: #5590C1;
    font-size: 25px;

}

.imgTitle {
    z-index: 0;
    padding-top: 78px;
    padding-right: 110px;
}

@media screen and (max-width: 640px) {
    .imgTitle {
        position: absolute;
        padding: 0;
        top: 100px;

    }

    .imgTitle svg {
        z-index: 0;
        width: 500px;
        left: 46px;
        position: absolute;
    }
    .title {
        margin-bottom: 0;
    }

    .title p {
        font-size: 70px;
        line-height: 85px;
    }
    .blockTitle {
        padding-top: 0;
    }
    .mainBlockContainer {
        margin: 0 20px;
    }
}
