.mainBlockContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
}

.blockTitle {
    padding-top: 112px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin-bottom: 40px;
}

.title p {
    font-size: 90px;
    white-space: pre-line;
    font-weight: bold;
    line-height: 110px;
}

.button {
    width: 158px;
    height: 62px;
    background-color: #E5F1FD;
    border: 1px solid #5590C1;
    color: #5590C1;
    font-size: 25px;

}

.imgTitle {
    z-index: 0;
    padding-top: 78px;
    padding-right: 110px;
}

@media screen and (max-width: 540px) {
    .imgTitle {
        position: absolute;
        padding: 0;
        top: 100px;
    }

    .imgTitle svg {
        z-index: 0;
        width: 50rem;
        left: 6rem;
        top: -3rem;
        position: absolute;
        opacity: 0.6;
    }

    .title {
        margin-bottom: 0;
        font-size: 70px;
        line-height: 85px;
        font-weight: bold;
        z-index: 10;
    }

    .blockTitle {
        padding-top: 0;
    }

    .mainBlockContainer {
        margin: 0 20px;
    }
}

    .blockTitle {
        padding-top: 0;
    }
@media screen and (min-width: 541px) {
    .imgTitle svg {
        z-index: 0;
        width: 100rem;
        left: 0;
        top: 30rem;
        position: absolute;
        opacity: 0.6;
    }

    .mainBlockContainer {
        margin: 0 20px;
    }
}



    .title {
        margin-bottom: 0;
        font-size: 70px;
        line-height: 85px;
        font-weight: bold;
    }

@media screen and (min-width: 913px) {
    .imgTitle svg {
        width: 600px;
        position: unset;
        opacity: 1;
    }
}
@media screen and (min-width: 1024px) {
    .imgTitle svg {
        width: 1000px;
        position: unset;
        opacity: 1;
    }
    .title {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 90px;
        line-height: 110px;
    }
}
