.mainBlockContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
}

.blockTitle {
    padding-top: 112px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin-bottom: 40px;
}

.title p {
    font-size: 90px;
    white-space: pre-line;
    font-weight: bold;
    line-height: 110px;
}

.button {
    width: 158px;
    height: 62px;
    background-color: #E5F1FD;
    border: 1px solid #5590C1;
    color: #5590C1;
    font-size: 25px;

}

.imgTitle {
    z-index: 0;
    padding-top: 78px;
    padding-right: 110px;

}

/*.btn {*/
/*    position: relative;*/
/*    bottom: 80px*/
/*}*/
