.pagesHeader_wrapper {
    backdrop-filter: blur(12px);
    background-color: white;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 35px;
    /*z-index: 100;*/
}

.pagesHeader_title {
    font-size: 40px;
    font-weight: bold;
    margin-left: 128px;
    color: black;
}

.pageName{
    @apply
    text-[35px]
    font-bold
    text-black
}

.pagesHeader_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 74px;
    width: 540px;
}
.notAuth_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 29px 100px 35px 0;
    z-index: 40;
}
.notAuth_header__title {
    font-size: 35px;
    padding: 0 32px;
    font-weight: bold;
    margin-left: 75px;
}
.noAuth_header__authBlock {
    display: flex;
    justify-content: space-between;
    width: 64px;
    align-items: center;
    margin-right: 100px;
}

@media screen and (max-width: 540px) {
    .pagesHeader_wrapper {
        margin: 0 auto;
        display: contents;
        flex-direction: column;
        backdrop-filter: unset;
        justify-content: space-between;
        align-items: center;
        height: max-content;
        padding-bottom: 10px;
        text-align: center;
    }
    .notAuth_header h1 {
        margin: 0px auto;
        font-size: 35px;
    }
    .notAuth_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }
    .noAuth_header__authBlock {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 180px;
        margin: 0 auto;
    }
    .noAuth_header__authBlock a {
        margin: 0 auto;
    }
    .noAuth_header__authBlock div {
        margin: 0 auto;
    }

    .pagesHeader_wrapper p {
        margin-left: 0;
        font-size: 35px;
    }

    .pagesHeader_search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0;
        width: 100%;

    }

    .pagesHeader_search span svg {
        display: none;
    }
}

@media screen and (min-width: 541px) {
    .pagesHeader_wrapper {
        margin: 0 20px 0 100px;
        padding-bottom: 0;
        width: calc(100% - 100px);

    }
    .pagesHeader_wrapper p {
        width: 50%;
    }

    .pagesHeader_title {
        margin: 30px 30px;
        color: black;

    }
    .notAuth_header h1 {
        margin: 0 auto;
        font-size: 35px;
    }
    .notAuth_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }
    .noAuth_header__authBlock {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 180px;
        margin: 0 auto;
    }
    .noAuth_header__authBlock a {
        margin: 0 auto;
    }
    .noAuth_header__authBlock div {
        margin: 0 auto;
    }
}

@media screen and (max-width: 639px) {
    .pageName{
        font-size: 30px;
    }
}

@media screen and (max-width: 540px) {
    .pageName{
        margin-left: 30px;
    }
}


@media screen and (max-width: 470px) {
    .inputHidden{
       border-bottom:1px solid black !important;
        outline: none;
    }
}
@media screen and (min-width: 470px) {
    .inputHidden{
       display: none;
    }
}
