.sidebar_wrapper {
    position: absolute;
    width: 140px;
    height: 1080px;
    top: 33px;
    background: var(--bg-black);
}

.addNote_icon {
    background-color: var(--white);
    width: 80px;
    height: 80px;
    left: 30px;
    top: 39px;
    border-radius: 30px;
    margin: 41px auto 95px;
}

.pencil_icon {
    position: relative;
    width: 50px;
    height: 50px;
    transform: translateX(18px);
    top: 12px;
}

.interface_icons {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.copyright_text {
    position: absolute;
    color: var(--white);
    text-align: center;
    bottom: 37px;
    width: 100%;
}